name: CI

on:
  push:
    branches:
      - master
      - "szpak/**"
      - "marc/**"
  pull_request:
    branches:
      - '*'
  merge_group:

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
      with:
        java-version: 11
        distribution: 'zulu'

    - uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4

    - name: "Build and Test"
      run: ./gradlew --stacktrace build compatTestJava11
